body{
    background-image: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: hsl(257, 40%, 49%);
    font-family: "Popins", sans-serif;
    color: #fff;
}

.header{
    margin: 45px 45px;
}

.header img{
    width: 300px;
}

.main-content{
   display: flex;
   margin: 45px 45px;
}

.left-content img{
    width: 830px;
    height: auto;

}

.right-content{
    margin: 0 80px;
    display: flex;
    flex-direction: column;
}

.right-content h1{
    font-size: 75px;
    font-family: "Popins", sans-serif;
    margin-bottom: 40px;
}

.right-content p{
    font-size: 30px;
    margin-bottom: 50px;
}

.right-content button{
    border-style: none;
    width: 250px;
    height: 70px;
    font-size: 21px;
    color: hsl(257, 40%, 49%);
    border-radius: 35px;
    box-shadow: 0px 4px 14px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.right-content button:hover{
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}

.footer{
    margin-right: 140px;
}

.footer i{
    font-size: 20px;
    color: #fff;
    border: solid 2px;
    padding: 18px;
    border-radius: 50%;
    transition: 0.3s;
}


.footer .social{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.footer i:hover{
    color: hsl(300, 69%, 71%);
}